*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     font-family: "Roboto", sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5a5757;
  padding: 10px 20px;
}

.logo {
   display: flex;
}

.logo-img{
    width: 70px;
    height: 40px;
    object-fit: cover;
}

.search-bar{
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-box input {
  width: 400px;
  max-width: 500px;
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: white;
  color: black;
}

.menu-icon {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-links a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
}


.nav-links a.active {
  color: red;
}

.nav-links li a:hover{
    background: linear-gradient(red , blue);
    border-radius: 5px;
    color: white;
}


@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #333;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    padding: 10px 0;
  }

    .search-box {
    width: 90%;
    margin: 10px auto;
    padding: 0 10px;
  }

  .search-box input {
    font-size: 14px;
    width: auto;
  }
}

@media (max-width: 360px) {
  .search-box {
    width: 95%;
  }

  .search-box input {
    padding: 6px 10px;
    font-size: 13px;
  }
}